.Rproj.user
.Rhistory
.RData
POLS3003_assignment2_solution.Rmd
POLS3003_assignment3_solution.Rmd
POLS3003_assignment4_solution.Rmd
POLS3003_assignment5_solution.Rmd
POLS3003_assignment6_solution.Rmd
POLS3003_assignment7_solution.Rmd
POLS3003_assignment8_solution.Rmd
POLS3003_assignment9_solution.Rmd
POLS3003_assignment10_solution.Rmd